*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p
{
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Varela Round', sans-serif;
}

a
{
	text-decoration: none;
	color: #fff; /*white*/
}

.clear:after
{
	content: " ";
	display: block;
    clear: both;
}

/*--------------------------------------------------
			theme color and bg color
----------------------------------------------------*/
.wrapper
{
	min-height: 100%;
	width: 100%;
}

.wrapper-padding
{
	padding: 5%;
}

.wrapper-light
{
	background-color: rgba(0,0,0,0.1);
}

.wrapper-green-dark
{
	background-color: rgba(36, 66, 43,0.8);
}

.wrapper-green-light
{
	background-color: rgba(85, 109, 90,0.8);
}

.bg-theme-nav
{
	background-color: rgb(140, 173, 149);
}

.bg-line-color
{
	border-color: rgb(239, 249, 227);
}

.text-theme-color
{
	color: rgb(216, 189, 166) !important;
}

.text-theme-color2
{
	color: rgb(239, 249, 227) !important;
}

.text-theme-color3
{
	color: rgb(64, 66, 64) !important;
}

.text-theme-color4
{
	color: rgb(187, 193, 190) !important;
}

/*--------------------------------------------------
			header and nav styles
----------------------------------------------------*/

.banner-text
{
	text-align: center;
	margin-top: 200px;
}

.logo
{
	font-size: 1.5rem;
}

#menuNav .nav-link:hover, #menuNav .nav-link:focus, #menuNav .nav-link.active
{
	color: color: rgba(239, 249, 227, 0.5);
	border-bottom: 1px solid rgb(239, 249, 227);
}

#menuNav .nav-link
{
	font-size: 16px;
}

/*--------------------------------------------------
			form-control overrides
----------------------------------------------------*/
.form-control
{
	background-color: rgb(208, 224, 212);
}

.form-control:focus
{
	border-color: #75f4b0;
	box-shadow: 0 0 0 0.2rem rgba(41, 76, 50, 0.25);
}

/*--------------------------------------------------
			button styles
----------------------------------------------------*/
.btn-theme-size
{
	width: 100%;
}

.btn-theme
{
	background-color: rgb(35, 66, 43) !important;
	border-color: rgb(101, 145, 113) !important;
	color: rgba(239, 249, 227, 0.5);
}

.btn-theme:hover, .btn-theme:focus
{
	border-color: #75f4b0;
	box-shadow: 0 0 0 0.2rem rgba(41, 76, 50, 0.25);
	color: rgb(239, 249, 227);
}

/*--------------------------------------------------
			styles for index page
----------------------------------------------------*/
.row.banner-index
{
  background-image: url(../images/banner-index-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
  position: relative;
}

.mission-vision
{
	text-align: center;
  	padding: 0;
}

.mission-vision-pos
{
	position: static;
	margin-top: 50vh;
}

/*--------------------------------------------------
			styles for about page
----------------------------------------------------*/
.story
{
	padding: 5%;
	text-align: center;
}

.founder
{
	padding: 2%;
	text-align: center;
}

.gallery
{
	background-color: rgb(53, 79, 60);
	text-align: center;
	padding: 2% 2% 6%;.
}

/*--------------------------------------------------
			styles for join page
----------------------------------------------------*/
.bg-join
{
  background-image: url(../images/bg-join.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding: 0;
  padding: 3% 5%;
}

.join-intro
{
	text-align: center;
}

.volunteer-images
{
	width: 150px;
	height: 200px;
}

.join-box
{
	text-align: center;
	border: 1px solid #fff;
	margin: 2%;
	padding: 2%;
	border-radius: 2%;
	background-color: rgba(134, 249, 142, 0.2);
}

.join-form
{
	text-align: left;
	padding: 3%;
	border-radius: 2%;
	background-color: rgba(217, 252, 146, 0.3);
}

.testimonial
{
	padding: 5%;
	text-align: center;
}

.carousel-item-testimonial
{
	background-color: transparent;
	text-align: center;
	padding: 2% 15%;
}

.testimonial-avatar
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 2%;

}

/*--------------------------------------------------
			styles for event page
----------------------------------------------------*/
.events-container
{
	text-align: center;
	padding: 3% 5%;
}

.card.event
{
	padding: 0;
	margin: 2% auto;
	width: 18rem;
	border-color: rgb(101, 145, 113);
	background-color: rgba(36, 66, 43, 0.2);

}

.card.event:hover
{
	position: relative;
	top: -10px;
	box-shadow: 0 0 0 0.2rem rgba(41, 76, 50, 0.25);
}

.card.event .card-img-top
{
  	min-height: 200px;
  	max-height: 200px;
  	transition: .5s ease;
  	backface-visibility: hidden;
  	opacity: 1;
}

.card.event .card-body
{
	margin-top: 10px;
	margin-bottom: 10px;
	transition: .5s ease;
  	backface-visibility: hidden;
  	opacity: 1;
}

.card.event .card-body .card-text
{
	margin-top: 40px;
}

.card.event .card-body a
{
	margin-top: 50px;
}

.card.event .card-overlay 
{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card.event .card-img-top.hide,
.card.event .card-body.hide
{
	opacity: 0;
}

.card.event .card-overlay.show
{
	opacity: 1;
}

/*--------------------------------------------------
			styles for donate page
----------------------------------------------------*/
.bg-donate
{
  background-image: url(../images/bg-donate.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding: 0;
}

.donate
{
	padding: 2% 5% 5%;
	margin-top: 50px;
}

.donate-box
{
	text-align: center;
	margin: 2%;
	padding: 2%;
	border-radius: 2%;
	background-color: rgba(134, 249, 142, 0.2);
}

.donate-form
{
	text-align: left;
	padding: 3%;
	border-radius: 2%;
	background-color: rgba(217, 252, 146, 0.3);
}

.donate-intro
{
	padding: 2%;
	text-align: center;
}

.donate-intro div[class*=col]
{
	padding: 0;
}

/*--------------------------------------------------
			styles for footer
----------------------------------------------------*/
.footer
{
	background-color: rgb(208, 224, 212);
}

#share-us
{
	border-radius: 1%;
	margin: 0 3%; 
	background-color: rgb(101, 145, 113);
	padding: 1% 0;
}

#share-us>div
{
	text-align: center;
	padding: 0;
	margin: 0.5%;
}

.btn-share
{
	width: 120px;
}

#contact>div
{
	margin-top: 19px;
}

#contact p
{
	font-size: 15px;
	line-height: 20px;
	font-family: sans-serif;
}

#contact-us p
{
	display: inline;
}

#copyright
{
	background-color: rgb(41, 76, 50);
	color: #fff;
	text-align: center;
}

.social-links
{
	text-align: center;
}

.social-links a
{
	margin: 0 10px;
}

.footer .input-group-text
{
	background-color: rgb(208, 224, 212);
}

/*--------------------------------------------------
			back to top button
----------------------------------------------------*/
#btn-back-top 
{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px; 
    z-index: 9999;
    border: none;
    outline: none;
    background-color: rgba(140, 173, 149, 0.2);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

#btn-back-top:hover 
{
    background-color: rgba(140, 173, 149, 0.7);
}



/*--------------------------------------------------
			media queries
----------------------------------------------------*/
/*Extra large height devices*/
@media (min-height: 900px)
{
	.mission-vision-pos
	{
		position: absolute;
		bottom: 0;
		margin-top: 0;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{
	#share-us
	{
		margin-top: 19px;
	}

	.donate-box
	{
		margin-left: -31px;
		margin-right: -31px;
		border-radius: 0;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
{
	#share-us
	{
		margin-top: 19px;
	}
	.donate-box
	{
		margin-left: -33px;
		margin-right: -33px;
		border-radius: 0;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) 
{
	#share-us
	{
		position: relative;
		top: -40%;
	}

	.display-md-4
	{
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 1.2;
	}

	.logo
	{
		font-size: 2.5rem;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 
{
	/*un-fixed top navbar on large and xl screen*/
	.fixed-top.fixed-nav
	{
		position: relative;
		padding: 3%;
	}
	/*make navbar transparent on large and xl screen*/
	.bg-theme-nav
	{
		background-color: transparent;
	}

	.gallery>.carousel>.carousel-inner>.carousel-item>img
	{
		width: 75% !important;
		height: 75% !important;
	}

	#share-us
	{
		position: relative;
		top: -40%;
	}

	#contact-us
	{
		border-left: 1px dotted white;
		border-right: 1px dotted white;
	}

	.display-md-4
	{
		font-size: 3.0rem;
		font-weight: 300;
		line-height: 1.2;
	}

	.banner-text
	{
		text-align: center;
		margin-top: 100px;
	}

	.logo
	{
		font-size: 2.75rem;
	}

	.donate
	{
		margin-top: 0;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{
	.fixed-top.fixed-nav
	{
		position: relative;
		padding: 3%;
	}

	.bg-theme-nav
	{
		background-color: transparent;
	}

	.gallery>.carousel>.carousel-inner>.carousel-item>img
	{
		width: 75% !important;
		height: 75% !important;
	}

	#share-us
	{
		position: relative;
		top: -40%;
	}

	#contact-us
	{
		border-left: 1px dotted white;
		border-right: 1px dotted white;
	}

	.display-md-4
	{
		font-size: 3.5rem;
		font-weight: 300;
		line-height: 1.2;
	}

	.banner-text
	{
		text-align: center;
		margin-top: 100px;
	}

	.logo
	{
		font-size: 2.75rem;
	}

	.donate
	{
		margin-top: 0;
	}
}
