*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p
{
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Varela Round', sans-serif;
}

a
{
	text-decoration: none;
	color: #fff; /*white*/
}

.clear:after
{
	content: " ";
	display: block;
    clear: both;
}

/*common styles fo all pages*/
.wrapper
{
	min-height: 100%;
	width: 100%;
}

.wrapper-bg
{
	margin: 15px;
}

.wrapper-padding
{
	padding: 5%;
}

.wrapper-black
{
	background-color: rgba(0,0,0,0.4);
}

.wrapper-light
{
	background-color: rgba(0,0,0,0.1);
}

.wrapper-green
{
	background-color: rgba(147, 216, 206,0.8);
}

.wrapper-blue
{
	background-color: rgba(156,180,220,0.8);
}

.wrapper-red
{
	background-color: rgba(247,2,18,0.8);
}

.wrapper-orange
{
	background-color: rgba(94,61,38,0.8);
}

.wrapper-yellow
{
	background-color: rgba(94,74,38,0.8);
}

.banner-text
{
	text-align: center;
	color: rgb(216, 189, 166);
}

.footer
{
	background-color: rgb(208, 224, 212);
	/*min-height: 10vh;*/
}

#share-us
{
	border-radius: 1%;
	margin: 0 3%; 
	background-color: rgb(101, 145, 113);
	padding: 1% 0;
}

#share-us>div
{
	text-align: center;
	padding: 0;
	margin: 0.5%;
}

.btn-share
{
	width: 120px;
}

#contact>div
{
	margin-top: 19px;
}

#contact p
{
	font-size: 12px;
	line-height: 17px;
	font-family: sans-serif;
}

#contact-us p
{
	display: inline;
}

#copyright
{
	background-color: rgb(41, 76, 50);
	color: #fff;
	text-align: center;
}

.social-links
{
	text-align: center;
}

.form-control
{
	background-color: rgb(208, 224, 212);
}

/*navbar override-set padding*/
.navbar
{
   padding: 3%;
}

.navbar h1
{
	color: rgb(216, 189, 166);
}

.navbar>div>ul>li>a
{
	color: rgb(216, 189, 166);
	font-size: 18px;
}

.navbar-dark
{
	color: rgb(216, 189, 166);
}

/*style for index*/
.banner-index
{
  background-image: url(../images/banner-index-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
}

.banner-index-inner
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: rgb(48, 56, 55); /*dark-gray*/
  text-align: center;
  padding: 0;
}

.banner-index-inner-pos
{
	position: absolute;
	bottom: 0;
}

.banner-index-inner-bg1
{
	background-image: url(../images/banner-index-inner-bg1.jpeg);
}

.banner-index-inner-bg2
{
	background-image: url(../images/banner-index-inner-bg2.jpg);
}

.banner-index-inner-bg3
{
	background-image: url(../images/banner-index-inner-bg3.jpeg);
}

.banner-index-inner-bg4
{
	background-image: url(../images/banner-index-inner-bg4.jpg);
}

.banner-index-inner i
{
	margin-bottom: 20px;
}

/*style for about*/
.banner-about
{
  background-image: url(../images/banner_about.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 82vh;
}

.about
{
	background-color: rgb(140, 173, 149);
}

.about-content
{
	padding: 0 5%;
	margin: 2.2%;
}

.mission-vision
{
	border: 1px solid rgb(62, 96, 71);
	border-radius: 15%;
	box-shadow: 5px 5px rgba(62, 96, 71.05);
	background-color: rgb(62, 96, 71);
	color: rgb(187, 193, 190);
	padding: 2%;
	margin: 2%;
}

.gallery
{
	background-color: rgb(53, 79, 60);
	text-align: center;
	padding: 2% 0 6%;
}

.carousel-item-gallery
{
	min-height: 35vh;
}

.gallery-img
{
	min-height: 15vh;
	max-height: 35vh;
}

/*style for join*/
.bg-join
{
  background-image: url(../images/bg_join.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding: 0;
}

.join
{
	padding: 3% 5%;
}

.join-intro
{
	text-align: center;
	color: rgb(239, 249, 227);
}

.join-box
{
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	margin: 2%;
	padding: 2%;
	border-radius: 2%;
	background-color: rgba(134, 249, 142, 0.2);
}

.join-form
{
	text-align: left;
	padding: 3%;
	border-radius: 2%;
	background-color: rgba(217, 252, 146, 0.3);
}

.btn-join
{
	width: 100%;
}

.testimonial
{
	min-height: 50vh;
	padding: 5%;
	text-align: center;
	color: rgb(239, 249, 227);
}

.carousel-item-testimonial
{
	min-height: 35vh;
	background-color: transparent;
}

.carousel-item-testimonial>div
{
	text-align: center;
	padding: 2% 10%;
}

.testimonial-avatar
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 2%;

}

/*style for events*/
.events
{
	min-height: 50vh;
	padding: 5% 2%;
	background-color: rgb(140, 173, 149);
}

.feature-event
{
	/*border: 1px solid rgb(89, 137, 89);*/
	border-radius: 50px;
	background-color: rgb(101, 145, 113);;
	padding: 2% 2%;
}

.event
{
	margin: 2% 0;
	text-align: center;
}

.event-article
{
	color: rgb(64, 66, 64);
}

.event-pic
{
	width: 40%;
	height: 35%;
}

.btn-read-more
{

}


/*style for donate*/
.donate
{
	padding: 5%;
	background-color: rgb(140, 173, 149);
	color: rgb(64, 66, 64);
}

.donate-box
{
	text-align: center;
	margin: 2%;
	padding: 2%;
	border-radius: 2%;
	background-color: rgb(109, 150, 109);
}

.donate-form
{
	text-align: left;
	padding: 3%;
	border-radius: 2%;
	background-color: rgba(217, 252, 146, 0.3);
}

.donate-intro
{
	padding: 2%;
	text-align: center;
}

.donate-intro div[class*=col]
{
	padding: 0;
}





/*media queries*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{

	.banner-index-inner-pos
	{
		 position: relative;
		 top: 100%;
	}

	#share-us
	{
		margin-top: 19px;
	}

	.about-content
	{
		padding: 0;
		margin: 2% -15px;
	}

	.donate-box
	{
		margin-left: -31px;
		margin-right: -31px;
		border-radius: 0;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
{
	.banner-index-inner-pos
	{
		 position: relative;
		 top: 100%;
	}

	#share-us
	{
		margin-top: 19px;
	}
	.donate-box
	{
		margin-left: -33px;
		margin-right: -33px;
		border-radius: 0;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) 
{
	#share-us
	{
		position: relative;
		top: -40%;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 
{

	#share-us
	{
		position: relative;
		top: -40%;
	}

	#contact-us
	{
		border-left: 1px dotted white;
		border-right: 1px dotted white;
	}

	.about-content
	{
		position: relative;
		top: -25%;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{
	#share-us
	{
		position: relative;
		top: -40%;
	}

	#contact-us
	{
		border-left: 1px dotted white;
		border-right: 1px dotted white;
	}

	.about-content
	{
		position: relative;
		top: -25%;
	}
}
