*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p
{
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Varela Round', sans-serif;
}

a
{
	text-decoration: none;
	color: #fff; /*white*/
}

.clear:after
{
	content: " ";
	display: block;
    clear: both;
}

/*--------------------------------------------------
			common styles for all pages
----------------------------------------------------*/
.wrapper
{
	min-height: 100%;
	width: 100%;
}

.wrapper-padding
{
	padding: 5%;
}

.wrapper-black
{
	background-color: rgba(0,0,0,0.4);
}

.wrapper-light
{
	background-color: rgba(0,0,0,0.1);
}

.wrapper-green-dark
{
	background-color: rgba(36, 66, 43,0.8);
}

.wrapper-green-light
{
	background-color: rgba(85, 109, 90,0.8);
}

.bg-theme-color
{
	background-color: rgb(140, 173, 149);
}

.bg-theme-nav
{
	background-color: rgb(140, 173, 149);
}

.bg-line-color
{
	background-color: rgb(239, 249, 227);
}

.text-theme-color
{
	color: rgb(216, 189, 166) !important; /*pinkish*/
}

.text-theme-color2
{
	color: rgb(239, 249, 227) !important; /*greenish*/
}

.text-theme-color3
{
	color: rgb(64, 66, 64) !important; /*dark*/
}

.text-theme-color4
{
	color: rgb(187, 193, 190) !important; /*bluish*/
}

.banner-text
{
	text-align: center;
	margin-top: 200px;
}

.logo
{
	font-size: 1.5rem;
}

/*navbar overrides*/
.fixed-nav
{
	position: absolute;
  	top: 0;
  	right: 0;
  	left: 0;
  	z-index: 1030;
  	padding: 0 3%;
}

#menuNav>ul>li>a:hover, #menuNav>ul>li>a:active
{
	background-color: rgb(85, 109, 90);
}

.navbar-dark .navbar-nav .nav-link
{
	font-size: 16px;
}

/*form-control override-set background*/
.form-control
{
	background-color: rgb(208, 224, 212);
}

.form-control:focus
{
	border-color: #75f4b0;
	box-shadow: 0 0 0 0.2rem rgba(41, 76, 50, 0.25);
}

.form-control:focus
{
	border-color: #75f4b0;
	box-shadow: 0 0 0 0.2rem rgba(41, 76, 50, 0.25);
}

/*override btn-primary color*/
.btn-theme
{
	background-color: rgb(35, 66, 43) !important;
	border-color: rgb(101, 145, 113) !important;
}

.btn-theme:hover
{
	background-color: rgb(44, 86, 55) !important;
	border-color: rgb(101, 145, 113) !important;
}

/*--------------------------------------------------
			styles for index page
----------------------------------------------------*/
.banner-index
{
  background-image: url(../images/banner-index-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
}

.mission-vision
{
	text-align: center;
  	padding: 0;
}

.mission-vision-pos
{
	position: absolute;
	bottom: 0;
}

/*--------------------------------------------------
			styles for about page
----------------------------------------------------*/
.banner-about
{
  background-image: url(../images/banner-about.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 650px;
}

.about-content
{
	padding: 0 5%;
	margin: 2.2%;
	text-align: center;
}

.gallery
{
	background-color: rgb(53, 79, 60);
	text-align: center;
	padding: 2% 2% 6%;.
}

/*--------------------------------------------------
			styles for join page
----------------------------------------------------*/
.bg-join
{
  background-image: url(../images/bg-join.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding: 0;
}

.join
{
	padding: 3% 5%;
	margin-top: 100px;
}

.join-intro
{
	text-align: center;
}

.join-box
{
	text-align: center;
	border: 1px solid #fff;
	margin: 2%;
	padding: 2%;
	border-radius: 2%;
	background-color: rgba(134, 249, 142, 0.2);
}

.join-form
{
	text-align: left;
	padding: 3%;
	border-radius: 2%;
	background-color: rgba(217, 252, 146, 0.3);
}

.btn-theme-size
{
	width: 100%;
}

.testimonial
{
	padding: 5%;
	text-align: center;
}

.carousel-item-testimonial
{
	background-color: transparent;
	text-align: center;
	padding: 2% 15%;
}

.testimonial-avatar
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 2%;

}

/*--------------------------------------------------
			styles for event page
----------------------------------------------------*/
.banner-event
{
  background-image: url(../images/banner-event.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 650px;
}

.events
{
	padding: 5% 2%;
	position: relative;
	top: -200px;
}

.events-container
{
	margin-bottom: -200px;
}

.feature-event
{
	border-radius: 50px;
	background-color: rgb(101, 145, 113);;
	padding: 2% 2%;
}

.event
{
	margin: 2% 0;
	text-align: center;
}


/*--------------------------------------------------
			styles for donate page
----------------------------------------------------*/
.bg-donate
{
  background-image: url(../images/bg-donate.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  padding: 0;
}

.donate
{
	padding: 2% 5% 5%;
	margin-top: 50px;
}

.donate-box
{
	text-align: center;
	margin: 2%;
	padding: 2%;
	border-radius: 2%;
	background-color: rgba(134, 249, 142, 0.2);
}

.donate-form
{
	text-align: left;
	padding: 3%;
	border-radius: 2%;
	background-color: rgba(217, 252, 146, 0.3);
}

.donate-intro
{
	padding: 2%;
	text-align: center;
}

.donate-intro div[class*=col]
{
	padding: 0;
}

/*--------------------------------------------------
			styles for footer
----------------------------------------------------*/
.footer
{
	background-color: rgb(208, 224, 212);
}

#share-us
{
	border-radius: 1%;
	margin: 0 3%; 
	background-color: rgb(101, 145, 113);
	padding: 1% 0;
}

#share-us>div
{
	text-align: center;
	padding: 0;
	margin: 0.5%;
}

.btn-share
{
	width: 120px;
}

#contact>div
{
	margin-top: 19px;
}

#contact p
{
	font-size: 15px;
	line-height: 20px;
	font-family: sans-serif;
}

#contact-us p
{
	display: inline;
}

#copyright
{
	background-color: rgb(41, 76, 50);
	color: #fff;
	text-align: center;
}

.social-links
{
	text-align: center;
}

.footer .input-group-text
{
	background-color: rgb(208, 224, 212);
}



/*--------------------------------------------------
			media queries
----------------------------------------------------*/
/*Small height but large width*/
@media (min-width: 768px) and (max-height: 800px)
{
	.mission-vision-pos
	{
		 position: relative;
		 top: 100%;
	}
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{

	.mission-vision-pos
	{
		 position: relative;
		 top: 100%;
	}

	#share-us
	{
		margin-top: 19px;
	}

	.about-content
	{
		padding: 0;
		margin: 2% -15px;
	}

	.donate-box
	{
		margin-left: -31px;
		margin-right: -31px;
		border-radius: 0;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
{
	.mission-vision-pos
	{
		 position: relative;
		 top: 100%;
	}

	#share-us
	{
		margin-top: 19px;
	}
	.donate-box
	{
		margin-left: -33px;
		margin-right: -33px;
		border-radius: 0;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) 
{
	#share-us
	{
		position: relative;
		top: -40%;
	}

	.display-md-4
	{
		font-size: 2.5rem;
		font-weight: 300;
		line-height: 1.2;
	}
	.logo
	{
		font-size: 2.5rem;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 
{
	/*un-fixed top navbar on large and xl screen*/
	.fixed-nav
	{
		position: relative;
		padding: 3%;
	}
	/*make navbar transparent on large and xl screen*/
	.bg-theme-nav
	{
		background-color: transparent;
	}

	#share-us
	{
		position: relative;
		top: -40%;
	}

	#contact-us
	{
		border-left: 1px dotted white;
		border-right: 1px dotted white;
	}

	.display-md-4
	{
		font-size: 3.0rem;
		font-weight: 300;
		line-height: 1.2;
	}
	.banner-text
	{
		text-align: center;
		margin-top: 100px;
	}
	.logo
	{
		font-size: 2.75rem;
	}

	.join
	{
		margin-top: 0;
	}

	.donate
	{
		margin-top: 0;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{
	.fixed-nav
	{
		position: relative;
		padding: 3%;
	}

	.bg-theme-nav
	{
		background-color: transparent;
	}

	#share-us
	{
		position: relative;
		top: -40%;
	}

	#contact-us
	{
		border-left: 1px dotted white;
		border-right: 1px dotted white;
	}

	.display-md-4
	{
		font-size: 3.5rem;
		font-weight: 300;
		line-height: 1.2;
	}
	.banner-text
	{
		text-align: center;
		margin-top: 100px;
	}
	.logo
	{
		font-size: 2.75rem;
	}

	.join
	{
		margin-top: 0;
	}
	.donate
	{
		margin-top: 0;
	}
}
